@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

html{
  height: 100vh;
  width: 100vw;
}

body{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.score{
  font-family: 'Righteous', cursive;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 48px;
  color: white;
}

.level{
  font-family: 'Righteous', cursive;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 48px;
  color: white;
}


.overlay{
  display: none;
  position: absolute;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.game-name{
  font-family: 'Righteous', cursive;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25px;
  width: 400px;
  color: white;
  font-size: 50px;
}

.paused{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;
  font-size: 110px;
  color: white;
}

.instructions{
  font-size: 36px;
}

.you-win{
  display: none;
  position: absolute;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  font-family: 'Righteous', cursive;
  font-size: 70px;
  color: white;
  animation: fadeIn 3s;
}


.congratulations{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restart{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 50px;
  width: 250px;
  font-size: 36px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.restart:hover{
  cursor: pointer;
  color: black;
  background-color: white;

}

.start-screen{
  display: inline-block;
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 70px;
  color: white;
}

.start-game{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  bottom: 200px;
  width: 250px;
  font-size: 36px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.start-game:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

.contact-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  bottom: 20px;
  font-size: 18px;
}

.contact-icons{
  width: 30%;
}
.contact-name{
  width: 30%;
}
.game-name-contact{
  width: 30%;
}

.contact-icons > a > img {
  width: 40px;
  margin: 0 10px 10px 10px
}

.game-title{
  margin: 90px auto 50px auto;
  font-family: 'Righteous', cursive;
  font-size: 64px;

}

.game-explanation{
  font-family: 'Righteous', cursive;
  font-size: 16px;
  padding: 10px;
  width: 300px;
  background: white;
  color: black;
  border-radius: 20px;
  top: 100px;
  margin: 0 auto;
}

h1{
  font-size: 24px;
  padding: 5px;
  border-bottom: 2px solid black;
}

p{
  line-height: 20px;
}
